---
layout: base
title: Bijay Pathak
---
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 vcenter idxHdr">
      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/bkpathak" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="http://twitter.com/bijay697" target="_blank">
            <i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://www.facebook.com/pathakbijaykumar" target="_blank">
            <i class="fa fa-fw fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/bijaykpathak" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
        <li>
          <a href="/atom.xml" target="_blank">
            <i class="fa fa-fw fa-rss"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% include about-website.md %}
