---
layout: base
title: Bijay Pathak
---

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <a href="/images/me-large.jpg">
        <img src="/images/me.jpg"
             style="border-radius: 20px; margin: 10px; max-width: none;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>

{% include google_analytics.html %}
